<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal ausführen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Terminal</h1>
            <a href="{{ url_for('logout') }}" class="logout-btn">Abmelden</a>
        </div>
        <form id="cmdForm">
            <input type="text" id="cmd" name="command" placeholder="Befehl eingeben (z. B. ls -la)">
            <button id="runBtn" type="submit">Ausführen</button>
        </form>

        <pre id="output" class="output-box"></pre>

        <script src="{{ url_for('static', filename='stream.js') }}"></script>

    </div>
</body>

</html>