<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Web Terminal</title>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
</head>
<body>
    <button id="new-terminal">Neues Terminal</button>
    
    <div id="terminal-container">
        </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ansi_up@5.1.0/ansi_up.min.js"></script>
    <script src="{{ url_for('static', filename='js/terminal.js') }}"></script>
</body>
</html>