name: Docker build and publish multicarch image
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # --- Multi-Arch Setup ---
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # --- Multi-Arch Build & Push ---
    - name: Build and Push Multi-Arch Image
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          -t wlanboy/webpyshell:latest \
          --push .
